<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Teddy App</title>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/zone.js@0.10.3/dist/zone.min.js"
    ></script>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Arial", sans-serif;
      }
    </style>

    <!-- Polyfill para navegadores antigos -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"
    ></script>

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    />
    <meta name="importmap-type" content="systemjs-importmap" />

    <!-- Mapa de dependências compartilhadas -->
    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
          "react": "https://unpkg.com/react@18.2.0/umd/react.development.js",
          "react-dom": "https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js"
        }
      }
    </script>

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      as="script"
    />

    <!-- Importmap para ambientes de desenvolvimento -->
    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@teddy/root-config": "//localhost:9000/teddy-root-config.js",
          "@teddy/app-login": "//localhost:9002/main.js",
          "@teddy/app-dashboard": "//localhost:9001/teddy-app-dashboard.js"
        }
      }
    </script>
    <% } %>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"
    ></script>

    <!-- Carregamento condicional do SystemJS e extras -->
    <% if (isLocal) { %>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"
    ></script>
    <% } else { %>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"
    ></script>
    <% } %>
  </head>

  <body>
    <noscript>JavaScript is required for this app to function properly.</noscript>

    <script>
      System.import("@teddy/root-config");
    </script>

    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
