<main class="h-screen bg-zinc-900 flex justify-center items-center">
    <section class=" bg-white p-6 rounded-lg shadow-lg flex flex-col justify-between gap-6">
        <div>
            <h3 class="text-2xl font-semibold leading-none tracking-tight">Login</h3>
            <p class="text-lg text-muted-foreground">Insira suas credenciais para acessar</p>
        </div>

        <form class="flex flex-col gap-6" (ngSubmit)="onSubmit()">
            <input required type="text" [(ngModel)]="user" placeholder="Usuário" [ngModelOptions]="{ standalone: true }" class="input input-bordered input-primary w-full px-4 py-3 outline-none border border-gray-300 focus:border-primary rounded-md transition-all" />

            <input required type="password" placeholder="Senha" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" class="input input-bordered input-primary w-full px-4 py-3 outline-none border border-gray-300 focus:border-primary rounded-md transition-all" />

            <div class="flex items-center gap-2">
                <input type="checkbox" class="checkbox checkbox-primary" [(ngModel)]="rememberUser" [ngModelOptions]="{ standalone: true }" />

                <label class="cursor-pointer">
                    <span class="label-text">Manter-me conectado</span>
                </label>
            </div>

            <button type="submit" class="btn btn-primary w-full text-white py-3 font-semibold rounded-md">
                Entrar
            </button>

            <p *ngIf="error" class="text-sm text-red-600 pt-3">{{ error }}</p>
        </form>
    </section>
</main>