<main
    class="bg-secondary w-full h-screen flex items-center justify-center p-4"
>
    <section class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
        <form class="flex-col flex items-center justify-center gap-6" (ngSubmit)="onSubmit()">
            <h1 class="font-bold text-2xl mb-2">Acesso ao Sistema</h1>

            <p class="text-gray-600 mb-4 text-center">Insira suas credenciais para continuar</p>

            <input
                required
                type="text"
                [(ngModel)]="user"
                placeholder="Nome de usuário"
                [ngModelOptions]="{ standalone: true }"
                class="login-form-input px-4 py-3 w-full outline-none border border-gray-300 focus:border-primary rounded-md transition-all"
            />

            <input
                required
                type="password"
                placeholder="Senha"
                [(ngModel)]="password"
                [ngModelOptions]="{ standalone: true }"
                class="login-form-input px-4 py-3 w-full outline-none border border-gray-300 focus:border-primary rounded-md transition-all"
            />

            <div class="flex items-center justify-between w-full">
                <div class="flex items-center">
                    <input
                        type="checkbox"
                        class="cursor-pointer"
                        id="login-remember-user"
                        [(ngModel)]="rememberUser"
                        [ngModelOptions]="{ standalone: true }"
                    />

                    <label for="login-remember-user" class="ml-2 text-sm text-gray-700 cursor-pointer">
                        Manter conectado
                    </label>
                </div>

                <a href="#" class="text-sm text-primary hover:underline">
                    Esqueceu sua senha?
                </a>
            </div>

            <button
                type="submit"
                class="w-full bg-primary py-3 text-white hover:bg-hover-primary transition-all font-semibold rounded-md"
            >
                Entrar
            </button>

            <p *ngIf="error" class="text-sm text-red-600 pt-3">{{ error }}</p>
        </form>
    </section>
</main>
